body{
    background-color:white;
}

 
 
li{
font-size: 11px;
display:inline;
padding-right: .9em;
margin: 4em 0;
}

.header {
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 120px;
    background-color: #EDEEED;
    width: 85%;
    
}

a { color: inherit; 
    text-decoration: none;} 
a:hover {
    text-decoration: underline;
    
}
 
 
#thopulist
{
   font-family: 'Gotham-Medium';
  font-size: 18px;
    padding-right: 50px;
    text-decoration-color: black; 
    padding-bottom: 10px;
    
    }
.freeshipping
{
   
    margin-top:40px;
   margin-left:150px;
    
}
#blue
{
padding-left: 50px;
font-family: 'Gotham-Medium';
  font-size: 18px;
color:#57C8D5;    
font-weight: bold;
}

#orders
{
 
    font-family: 'Gotham-Medium';
  font-size: 18px;
}

.toplist {
    margin-left: 20px;
    color: #EF7561;
    border-right:1px solid white;
    padding-left: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
    font-weight: bold;
    margin-right: 1px;
     
}
.list2
{
    display: inline-block;
}
 

.topheadli {
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-right: 15px;
    font-size:14px;
    border-right: 1px solid #D5D8D5;
}
.topheadlast
{
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size:14px;
}

.secondlist {
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0px;
    display: inline-block;
    padding-right: 20px;
    font-size:14px;
}

.secondhead {
        color: #6A7076;
        font-size:15px;
        padding-right: 1px;
}
.boldtext{
    font-weight: bold;
    color: #6A7076;
    FONT-SIZE: 14px;
    padding-right: 70px;
    border-right:1px solid white;
     
    
}
.boldtext1{
    font-weight: bold;
    color: #6A7076;
    FONT-SIZE: 14px;
    padding-right: 60px;
    
}
.pinn{
    background-image: url("pin.JPG");
    margin-right: 10px;
    padding: 15px;
    padding-top: 10px;
    background-repeat: no-repeat;
}
.change
{
     color: #EF7561;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size:14px;
}
.signout
{
    color: #EF7561;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:14px;
    padding-left: 0px;
    padding-top: 120px;
    
}
.man
{
    background-image: url(man.jpg);
    margin-right: 10px;
    padding: 16px;
    padding-top: 10px;
    background-repeat: no-repeat; 
}
.fb
{
background-image: url(fb.jpg);
    margin-right: 10px;
    padding: 16px;
    padding-top: 10px;
    background-repeat: no-repeat;
}

.more{
    color: #EF7561;
    font-size: 14px;
}

 
 
  
.mainimage{
    
padding-top: 30px;
 
 
 

}
.sprngimage{
    width: 100%;
}

.freeshipping
{
        padding-left:70%;
}
 

#inline2
{
    width: 17%;
    display: inline;
    float: left;
    
}
.panel
{
   display: flex;
    justify-content:flex-start;
    padding-bottom: 18px;
}
 
#inline1

{
    position: relative;
    left: 7%;
   
}
    
    
.cart{

position: relative;
left: 337%;
padding-left:2px;

}
 
 
.mainlist{
color:#6A7076;
padding-left: 100px;
font-family: 'GothamMedium';
font-size:20px;
font-weight:bold;    
letter-spacing: 1px;
display:inline;


}
 
/*li:not(.toplist)
{
padding-right: 3em;
margin: 4em 0;
}*/

.imagelot{
    margin-right: 10px;
    margin-left: 10px;
 float: left;
}
.platetext
{
 position: relative;
left:30%;
font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size:15pt;
color:#6A7076;
font-weight: bold;
}
.plate
{
     position: relative;
    float: left;
}
.watch
{
    position: relative;
    float: left; 
}
.watchtext
{
position: relative;
left: 2%;
font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size:15pt;
font-weight: bold;
    color:#6A7076
}
.bed{
    position: relative;
    float: left;
    
}
.bedtext
{
    color:#6A7076;
 position: relative;
left: 2%;
font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size:15pt;
font-weight: bold;
    
}
.shopnow
{
    position: relative;
    left:30%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #EF7561;
    font-weight: bold;
     
    text-decoration-color: #EF7561;
    
}
.bedshopnow
{
     
     position: relative;
    left:1%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #EF7561;
     font-weight: bold;
    text-decoration-color: #EF7561;
}
 .watchshopnow
{
    
     position: relative;
    left:1%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #EF7561;
    padding-top: 10px;
    font-weight: bold;
}
#bed{
 
    width: 400px;
    height: 400px;
    margin: 10px;
    border-bottom: 8px solid #F9C421;
}

#plate{
 
    width: 400px;
    height: 400px;
    margin: 10px;
    margin-left: 11em;
    margin-right: 5px;
    border-bottom: 8px solid #9CCF4B;
    
}

#watch{
 
    width: 400px;
    height: 400px;
    margin: 5px;
    border-bottom: 8px solid #57C8D5;
}

hr.style1{
 
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 80%;
}
.footer{
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 170px;
    background-color: #EDEEED;
    width:80%;   
    display: inline-block;
         
}
.footerlist1{
     margin-left: 30px;
    padding-left: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
    font-size:15px;
    padding-bottom: 20px;
    }
 
#footercheck{   
    padding-right: 10px;
    font-size: 15px;
    padding-left: 10px;
     border-right:1px solid #BA7076;
   }
#footercheck1
{
   padding-right: 10px;
    font-size: 15px;
    padding-left: 10px;  
}
#usflag{
    background-image: url("flag.jpg");
    margin-right: 60px;
    padding: 16px;
    padding-top: 4px;
    margin-left: 5px;
    background-repeat: no-repeat
    
    
}
#copyright
{
    
   position: relative;
    left: 13.01%;
    
    
}
 
#currency
{
    font-size:15px; 
 
}
.stayconnect{
     float: left;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;   
        
}
#email
{
     
}
#texbox{
    padding-left: 132px;

}
#subscribe{
    padding-left:0px;
    margin-left: 0px;
}
#stay
{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 15pt;
padding-left:130px;
letter-spacing: 2px;
color:#40474E 
}
.button
{
  color: #fff;
  background-color:  #EF7561;
border: none;
height: 67px;
    font-size:19px;
    width:150px;
    position: relative;
    left: 45%;
   padding-bottom: 10px;
}
.tbox
{
    font-size:17px;
    padding-right: 0px;
    font-style: italic;
    height: 63px;
    width:50%;
    border-style: thin;
}

#connect
{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 15pt;
 position: relative;
letter-spacing: 2px;
color:#40474E;
left: 80%;

 
    
}
.allicon{
    position:relative;
    left: 
     
    
}

#twitter
{
    background-image: url(twit.JPG);
    margin-right: 10px;
    padding-top: 10px;
    padding: 25px;
     margin-left: 20px;
    background-repeat: no-repeat; 
}

#facebook
{
    background-image: url(fb1.JPG);
    margin-right: 10px;
    padding-top: 10px;
    padding: 25px;
    
    background-repeat: no-repeat; 
}

#pintrest
{
    background-image: url(pint.JPG);
    margin-right: 10px;
    padding-top: 10px;
    padding: 25px;
    
    background-repeat: no-repeat; 
}

#rss
{
    background-image: url(rss.JPG);
    margin-right: 10px;
    padding-top: 10px;
    padding: 25px;
    
    background-repeat: no-repeat; 
}
#mail
{
    background-image: url(mail.JPG);
    margin-right: 10px;
    padding-top: 10px;
    padding: 25px;
      
    background-repeat: no-repeat; 
}

#appstore
{ 
    padding-top: 20px;
}

 


input {
  border: 8px;
  background:white;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
font-style: italic;
font-size: 18px;


}
input:focus{
  outline: 10px;
}
.input-placeholder{ 
 padding: 10px;
border: 1px solid #aaa;
position: relative;
left: 40%;
height: 20%;


}
.input-placeholder1{ 
display: inline-block;
padding: 10px;
border: 1px solid #aaa;
position: relative;
left:27%;
height:51px;
}
#serachfinal

{
position: relative;
 height: 10px;
    
}
.icons
{
    position: relative;
    left: 120%;
}