body{
    background-color:white;
        
}
 
li{
font-size: 11px;
display:inline;
padding-right: .9em;
margin: 4em 0;

}
.header{
background-color: #D5DBD5;
text-align-last:left;
padding-left: .9em;
width: 70%;
height: 20%;
position: relative;
}
 
ul.toplist
    {
        color:#EF7561;
        padding-left:60px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        padding-right: .9em;
        
}
.wrap{
  width: 30%;
  position:relative;
  top: 50%;
  left: 90%;

  transform: translate(-50%, -50%);
}
}
 

#mainimage{
 max-width:100%;
max-height:100%;
padding-top: 20em;

position: relative;
border-bottom: 10em;
border-bottom-color:violet;
}

.logo
{
    top:7;bottom:0;left:8;right:0;
     padding-left: 60px;
    position: relative;
    margin:auto;
    height: 50%;
    width: 50;
}
ul.mainlist{
color:#6A7076;
padding-left: 60px;
  font-family: 'GothamMedium';
	font-size:20px;
    font-weight:bold;    

  display:inline;
}
 
li:not(.toplist)
{
padding-right: 3em;
margin: 4em 0;
}
div.imagelot{
    margin-right: 10px;
    margin-left: 10px;
}
#bed{
display: inline-block;
    width: 400px;
    height: 400px;
    margin: 10px;
    border-bottom: 8px solid #F9C421;
}

#plate{
display: inline-block;
    width: 400px;
    height: 400px;
    margin: 10px;
    margin-left: 11em;
    margin-right: 5px;
    border-bottom: 8px solid #9CCF4B;
}

#watch{
display: inline-block;
    width: 400px;
    height: 400px;
    margin: 5px;
    border-bottom: 8px solid #57C8D5;
}

hr.style1{
 
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 80%;
}

