body{
    background-color:white;
}

.wrapper{
    
}
 
li{
font-size: 11px;
display:inline;
padding-right: .9em;
margin: 4em 0;
}

.header {
    display: inline-block;
    padding-bottom: 10px;
    margin-left: 120px;
    background-color: #EDEEED;
    width: 85%;
    
}

a { color: inherit; 
    text-decoration: none;} 

 
#thopulist
{
   font-family: 'Gotham-Medium';
  font-size: 18px;
    padding-right: 50px;
    text-decoration-color: black;
 
    
    
    
}

.toplist {
    margin-left: 20px;
    color: #EF7561;
    border-right:1px solid white;
    padding-left: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
    font-weight: bold;
    margin-right: 1px;
     
}
.list2
{
    display: inline-block;
}
 

.topheadli {
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-right: 15px;
    font-size:14px;
    border-right: 1px solid #D5D8D5;
}
.topheadlast
{
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size:14px;
}

.secondlist {
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0px;
    display: inline-block;
    padding-right: 20px;
    font-size:14px;
}

.secondhead {
        color: #6A7076;
        font-size:15px;
        padding-right: 1px;
}
.boldtext{
    font-weight: bold;
    color: #6A7076;
    FONT-SIZE: 14px;
    padding-right: 70px;
    border-right:1px solid white;
     
    
}
.boldtext1{
    font-weight: bold;
    color: #6A7076;
    FONT-SIZE: 14px;
    padding-right: 60px;
    
}
.pinn{
    background-image: url("pin.JPG");
    margin-right: 10px;
    padding: 15px;
    padding-top: 10px;
    background-repeat: no-repeat;
}
.change
{
     color: #EF7561;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size:14px;
}
.signout
{
    color: #EF7561;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:14px;
    padding-left: 0px;
    padding-top: 120px;
    
}
.man
{
    background-image: url(man.jpg);
    margin-right: 10px;
    padding: 16px;
    padding-top: 10px;
    background-repeat: no-repeat; 
}
.fb
{
background-image: url(fb.jpg);
    margin-right: 10px;
    padding: 16px;
    padding-top: 10px;
    background-repeat: no-repeat;
}

.more{
    color: #EF7561;
    font-size: 14px;
}
.wrap {
    display: block;
    /* width: 30%; */
    /* position: relative; */
    top: 50%;
    left: 90%;
    /* transform: translate(-50%, -50%); */
}
/*
.wrap{
  width: 30%;
  position:relative;
  top: 50%;
  left: 90%;

  transform: translate(-50%, -50%);
}*/
//}
 

#mainimage{
 max-width:100%;
max-height:100%;
padding-top: 20em;
position: relative;
border-bottom: 10em;
border-bottom-color:violet;
}

.storelogo{
    padding-top: 50px;
    padding-left: 30px;
}
.storelo
{    
  
}

.mainlist{
color:#6A7076;
padding-left: 60px;
font-family: 'GothamMedium';
font-size:20px;
font-weight:bold;    
letter-spacing: 1px;
display:inline;
}
 
/*li:not(.toplist)
{
padding-right: 3em;
margin: 4em 0;
}*/

div.imagelot{
    margin-right: 10px;
    margin-left: 10px;
}
#bed{
display: inline-block;
    width: 400px;
    height: 400px;
    margin: 10px;
    border-bottom: 8px solid #F9C421;
}

#plate{
display: inline-block;
    width: 400px;
    height: 400px;
    margin: 10px;
    margin-left: 11em;
    margin-right: 5px;
    border-bottom: 8px solid #9CCF4B;
}

#watch{
display: inline-block;
    width: 400px;
    height: 400px;
    margin: 5px;
    border-bottom: 8px solid #57C8D5;
}

hr.style1{
 
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 80%;
}
.footer{
    
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 170px;
    background-color: #EDEEED;
    width:80%;   
    display: inline-block;
         
}
.footerlist1{
     margin-left: 30px;
    padding-left: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
    font-size:15px;
    padding-bottom: 20px;
    }
 
#footercheck{   
    padding-right: 10px;
    font-size: 15px;
    padding-left: 10px;
     border-right:1px solid #BA7076;
   }
#footercheck1
{
   padding-right: 10px;
    font-size: 15px;
    padding-left: 10px;  
}
#usflag{
    background-image: url("flag.jpg");
    margin-right: 60px;
    padding: 16px;
    padding-top: 4px;
    margin-left: 5px;
    background-repeat: no-repeat
    
    
}
#copyright
{
    padding-left: 142px;
    padding-top:300px;
    margin-top:100;
    
    
}
 
#currency
{
    font-size:15px; 
 
}
.stayconnect{
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}
#email
{
     
}
#texbox{
    padding-left: 132px;
    
     
}
#subscribe{
    padding-left:0px;
    margin-left: 0px;
}
#stay
{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 15pt;
padding-left:130px;
letter-spacing: 2px;
color:#40474E 
}
.button
{
  color: #fff;
  background-color:  #EF7561;
border: none;
height: 70px;
    font-size:19px;
    width:150px;
    padding-left: 0px;
    margin-left: 0px;
    
}
.tbox
{
    font-size:17px;
    padding-right: 0px;
    font-style: italic;
    height: 63px;
    width:19%;
    border-style: thin;
}

#connect
{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size: 15pt;
padding-left:0px;
letter-spacing: 2px;
color:#40474E;
padding-left: 600   px;   
    
}

#twitter
{
    background-image: url(twit.JPG);
    margin-right: 10px;
    padding-top: 10px;
    padding: 25px;
     margin-left: 20px;
    background-repeat: no-repeat; 
}

#facebook
{
    background-image: url(fb1.JPG);
    margin-right: 10px;
    padding-top: 10px;
    padding: 25px;
    
    background-repeat: no-repeat; 
}

#pintrest
{
    background-image: url(pint.JPG);
    margin-right: 10px;
    padding-top: 10px;
    padding: 25px;
    
    background-repeat: no-repeat; 
}

#rss
{
    background-image: url(rss.JPG);
    margin-right: 10px;
    padding-top: 10px;
    padding: 25px;
    
    background-repeat: no-repeat; 
}
#mail
{
    background-image: url(mail.JPG);
    margin-right: 10px;
    padding-top: 10px;
    padding: 25px;
      
    background-repeat: no-repeat; 
}

#appstore
{ 
    padding-top: 20px;
}

.icons
{
margin-top: 10px;
padding-left: 250px;    
    
display: inline-block;
}